<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/users_b.css">
		<link rel="stylesheet" href="/static/css/src/patients_b.css">
		<link rel="stylesheet" href="/static/css/src/fullcalendar.min.css">
		<link rel="stylesheet" media='print' href="/static/css/src/fullcalendar.print.min.css">
	</head>

	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="row content_start">
				<div id="btn_add_container" class="col s12">
					<!-- Button add patient -->
					<a class="waves-effect waves-light btn modal-trigger" href="#add_patient">Añadir paciente</a>
				</div>
			</div>

			<!-- Table all patient -->
			<div id="users-table" class="row">
				<table id="tabla_usuarios" class="striped">
					<thead>
						<tr>
							<th data-field="id">#</th>
							<th data-field="name">Nombre</th>
							<th data-field="age">Edad</th>
							<th data-field="dni">DNI</th>
							<th data-field="phone">Teléfono</th>
							<th data-field="action">Acción</th>
						</tr>
					</thead>

					<tbody>
						<% var count = 0;
						for(var i=0; i<patients.length; i++) { %>
                        <%count++; %>
								<tr>
								<td><%= patients[i].ID %></td>
								<td><%= patients[i].NAME + ' ' + patients[i].SURNAME %></td>
								<td><%= patients[i].AGE %></td>
								<td><%= patients[i].DNI %></td>
								<td><%= patients[i].PHONE %></td>
								<td class="actions">
                                    <a class="modal-trigger" id="show_patient_action" href="#show_patient"><i class="material-icons">perm_contact_calendar</i></a>
									<a class="modal-trigger" href="#edit_patient"><i class="material-icons">mode_edit</i></a>
									<a class="modal-trigger" href="#delete_patient"><i class="material-icons">delete</i></a>
								</td>
								</tr>
						<% }
						if(count == 0) { %>
							<td colspan="5" id="no_patient">NO HAY PACIENTES ASIGNADOS</td>
						<% } %>
					</tbody>
				</table>
			</div>

            <!-- Modal Add patient -->
            <% include ../../partials/backend/modals/modal_add_patient %>
            <% include ../../partials/backend/modals/modal_edit_patient %>
            <!-- Modal delete patient -->
            <% include ../../partials/backend/modals/modal_delete_patient %>
            <% include ../../partials/backend/modals/modal_add_event %>
            <% include ../../partials/backend/modals/modal_show_event %>
			<!-- Modal show patient -->
            <% include ../../partials/backend/modals/modal_show_patient %>





		</main>

		<footer class="page-footer">
			<% include ../../partials/backend/footer_backend %>
		</footer>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>
		<script src="/static/js/src/patient_b.js"></script>
		<script src='/static/js/src/moment.min.js'></script>
		<script src='/static/js/src/fullcalendar.min.js'></script>
		<script src='/static/js/src/es.js'></script>

		<script>

            $(document).ready(function() {





                $('#calendar').fullCalendar({
					lang:"es",
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek'
                    },
					eventClick: function (event,jsEvent,view) {
                        $("#modalDelete").css("display","none");
                        $("#datepick_show").text($.fullCalendar.formatDate(event.start, "YYYY-MM-DD"));
                        $("#selecthorario_show").text(event.horario);
                        $("#name_food_show").text(event.title);
                        $("#food_gluc_show").text(event.gluc);
                        $("#food_prot_show").text(event.prot);
                        $("#food_lipids_show").text(event.lipids);
                        $("#registerID").text(event.idRegistro);




					    $("#show_event").openModal();

                    },
                    navLinks: true, // can click day/week names to navigate views
                    selectable: true,
                    selectHelper: true,
                    allDayDefault: true,
                    select: function(start, end) {
					    $("#add_event").openModal() ;
					    //Reseteamos los valores del modal por si estaban completados anteriormente.
                        $('input.autocomplete').val("");
                        $('input.autocomplete').blur();
                        $("#name_food").text("");
                        $("#select-horario").prop('selectedIndex',0);

                        var start2 = $.fullCalendar.formatDate(start, "YYYY-MM-DD");
                        var startDay = $.fullCalendar.formatDate(start, "D");
                        var endDay = $.fullCalendar.formatDate(end, "D");


                        $('#datepick').val(start2);
                        /*var input = $('.datepicker').pickadate()
                        input.set('select', new Date(start));*/

                        /*var title = prompt('Event Titleee:');
                        var tipo = prompt('Tipo:');
                        var eventData;
                        if (title && tipo) {
                            eventData = {
                                title: title,
								tipo: tipo,
                                start: start,
                                end: end
                            };
                            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        }*/
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                });

            });

		</script>


	</body>
</html>
